# Node.js
node_modules/
package-lock.json

# Environment Variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Files
dist/
out/
.vite/

# OS-specific files
.DS_Store
Thumbs.db
